@charset "UTF-8";

body{
    background-color:  tan;
    justify-items: center;
}

h1{
    text-align: center;
    padding: 10pt;
    font-size: 50pt;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-bottom: 5pt;
}

/* marcação da minha rede social do GitHub */
.arroba{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

}

/* Quadro branco que mostra a hora e imagem */
.quadro_menor{
    background-color: white;
    border-radius: 5pt;
    box-shadow: 1pt 1pt 15pt rgba(0, 0, 0, 0.192);
    width: 500pt;
    height: 300pt;
    display: flex;
    justify-content: center;
    margin-bottom: 20pt;
    font-size: 13pt;
    font-family: Arial, Helvetica, sans-serif;
}

