@charset "UTF-8";

body{
    justify-items: center; 
}

h1{
    text-align: center;
    padding: 10pt;
    font-size: 50pt;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-bottom: 5pt;
}

/* marcação da minha rede social do GitHub */
.arroba{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

/* Quadro branco que mostra a hora e imagem */
.quadro_menor{
    background-color: white;
    border-radius: 5pt;
    box-shadow: 1pt 1pt 15pt rgba(0, 0, 0, 0.199);
    width: 500pt;
    height: 300pt;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20pt;
    font-size: 16pt;
    font-family: Arial, Helvetica, sans-serif;
}

#container-imagem{
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 20px; 
    box-shadow: 3pt 3pt 15pt rgba(0, 0, 0, 0.459);   
}
#imagemDoDia {
    /* Dentro do contêiner circular, a imagem preenche-o */
    width: 100%; 
    height: 100%;
}

@media screen and (max-width: 750px) {
    h1{
        font-size: 12vw;
    }
    .quadro_menor{
        width: 98%;
        font-size: 13pt;
        height: auto;
    }  
    #container-imagem{
    width: 230px;
    height: 230px;
    } 


}